.accordion-button:focus{
   box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.196)!important;
}

body{
    margin-bottom: 100px;
}


div[class*="carousel-item"] img{
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.55)!important;
}

div[class*="carousel-item"]:hover{
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}

.list-group{
	border-color: transparent!important;
	border-radius: 20px;
}

nav, .card, .list-group-item{
	border-color: transparent!important;
    background-color: rgba(79, 31, 149, 0.272)!important;
}

.card-img-top{
	height: 14rem;
}




body {
	margin-top: 100px;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	height: 100%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


div.row>div{
    padding: 0!important;
}

p[class$="col-xs-11"]{
    text-align: justify;
}

nav li>a:hover{
    color: whitesmoke!important;
}

.fixed-top {
	transition: top 0.3s;
}


.fixed-top.hide{
	top: 50px;
}

.hide{
	display: none;
}




#audioContainer{
	display: flex;
	gap: 3px;
	height: 65px;
	width: 120px;
	margin: 10px;
}
  



.box{
transform: scaleY(.4);
height: 100%;
width: 10px;
background: #00000085;
animation-duration: 1.2s;
animation-timing-function: ease-in-out;
border-radius: 20px;
}

.quiet{
animation-name: quiet;
}

.normal{
animation-name: normal;
}


.loud{
animation-name: loud;
}


@keyframes quiet {
	25%{
	  transform: scaleY(.6);
	}
	50%{
	  transform: scaleY(.4);
	}
	75%{
	  transform: scaleY(.8);
	}
}
  
@keyframes normal {
	25%{
	  transform: scaleY(1);
	}
	50%{
	  transform: scaleY(.4);
	}
	75%{
	  transform: scaleY(.6);
	}
}

@keyframes loud {
	25%{
	  transform: scaleY(1);
	}
	50%{
	  transform: scaleY(.4);
	}
	75%{
	  transform: scaleY(1.2);
	}
}